<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mission to Mars: Index</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Mars Headline</h1>
        <p><button type="button" class="btn btn-primary btn-lg" href="/scrape">Scrape Fresh Data</button></p>
        <p>
            <h2>{{ mars_info.mars_headline }}</h2>
            <p>
                {{ mars_info.mars_text }}
            </p>
        </p>
        <h1>Mars: Featured Image</h1>
        <p>
            <img src = {{ mars_info.featured_img_url }} alt = "Featured Image">
        </p>
        <h1>Mars: Weather</h1>
        <p>
            {{ mars_info.mars_weather }}
        </p>
        <h1>Mars: Facts</h1>
        <p>
            {{ mars_info.mars_facts }}
        </p>

        <h1>Mars: Hemispheres</h1>
        <p>
            {% for image in mars_info.hemi_img_url %}
            <h3>{{image.title}}</h3>
            <p><img src = '{{image.img_url}}'></p>
            {% endfor %}
        </p>
        <script src="" async defer></script>
    </body>
</html>