<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mission to Mars: Index</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bootstrap.min.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h2>Mars Headline</h2>
        <p>
            <h3>{{ mars_data.mars_headline }}</h3>
            <p>
                {{ mars_data.mars_text }}
            </p>
        </p>
        <h2>Mars: Featured Image</h2>
        <p>
            <img src = {{ mars_data.featured_img_url }} alt = "Featured Image">
        </p>
        <h2>Mars: Weather</h2>
        <p>
            {{ mars_data.mars_weather }}
        </p>
        <h2>Mars: Facts</h2>
        <p>
            {{ mars_data.mars_facts }}
        </p>

        <h2>Mars: Hemispheres</h2>
        <p> 
            {{ mars_data.hemi_img_url[0]['title'] }}
            <p>
                <img src = {{ mars_data.hemi_img_url[0] }}
            </p>
        </p>

        <p> 
            {{ mars_data.hemi_img_url[1]['title'] }}
            <p>
                <img src = {{ mars_data.hemi_img_url[1] }}
            </p>
        </p>

        <p> 
            {{ mars_data.hemi_img_url[2]['title'] }}
            <p>
                <img src = {{ mars_data.hemi_img_url[2] }}
            </p>
        </p>

        <p> 
            {{ mars_data.hemi_img_url[3]['title'] }}
            <p>
                <img src = {{ mars_data.hemi_img_url[3] }}
            </p>
        </p>
        <script src="" async defer></script>
    </body>
</html>